
.carousel {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid red 10px; */
    /* height:500px; */
    /* min-width:740px; */
    width: 1250px;
}

.inner-carousel {
    width: 250px;
    white-space: nowrap;
    /* border: solid red 10px; */
    transition: transform 0.3s;

    
}

#tracks {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* border: solid red 10px; */
}

#carousel-container {
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

@media only screen and (max-width: 1200px) {

    .carousel {
        width: 500px;
        min-width: 500px;
    }

    #desktop-display {
        display: none
    }
}

@media only screen and (max-width: 768px) {

    .carousel {
        min-width: 250px;
        width: 250px;
    }

    #desktop-display {
        display: none;
    }
}

#carousel-trending {
    color: white;
    font-weight: 800;
    font-size: 48px;

}

@media only screen and (min-width: 1200px) {
    #mobile-display {
        display: none;
    }
}

#mobile-display,
#desktop-display {
    background: white;
    color: black;
    width: 110px;

    border-radius: 10px;
    border: none;
    height: 40px;
    
}

#mobile-display button,
#desktop-display button {
    padding-left: 10px;
    border: solid red 1px;

} 


.carousel-buttons button {
    margin-left: 5px
}

.carouselNav {
    display: flex;
    align-items: center;
    /* border: solid red 10px; */
    justify-content: space-between;
    margin-bottom: 40px;
}